.searchInputs {
    display: flex;
    width:350px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .search input {
    background-color: rgb(173, 245, 37);
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
  }
  
  .searchIcon {
    height: 60px;
    width: 50px;
    background-color: rgb(180, 248, 21);
    display: grid;
    place-items: center;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }
  
  .dataResult {
    margin-top: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    margin:auto;
    border-radius: 23px;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  .results{
    display: flex;
    justify-content: space-around;
  }
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgrey;
  }
  
  #clearBtn {
    cursor: pointer;
  }

  /* Card css */
  .main-card{
   color: white;
    padding: 20px;
    width: 400px;
    margin: auto;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    margin-bottom: 20px
  }

  .TempCard{
    display: flex;
    justify-content: space-between;
  }
  .smallCard{
    max-width:100px;
    padding: 19px;
    background-color: rgb(214, 246, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 0.7;
    
  }